@import '../common-imports';

.title-wrapper {
    text-align: center;
    padding-bottom: $spacer * 7;

    @include media-breakpoint-down(lg) {
        padding-bottom: $spacer * 5;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: $spacer * 3;
    }

    .eyebrow {
        margin-bottom: 10px !important;
    }
}
