// adding font weight medium extending utilities
$utilities: map-merge(
    $utilities,
    (
        'font-weight':
            map-merge(
                map-get($utilities, 'font-weight'),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, 'font-weight'), 'values'),
                            (
                                medium: $font-weight-medium,
                            )
                        ),
                )
            ),
    )
);

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    @extend %heading;
    color: $black-blue;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
}

h1,
.h1,
.display-1 {
    font-size: rem(40px);
    line-height: rem(60px);
    letter-spacing: .01em;

    @include media-breakpoint-up(md) {
        font-size: rem(52px);
        line-height: 126%;
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(72px);
        line-height: 128%;
    }
}

h2,
.h2 {
    font-size: rem(36px);
    line-height: normal;

    @include media-breakpoint-up(md) {
        font-size: rem(40px);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(62px);
        line-height: 126%;
    }
}

h3,
.h3 {
    line-height: normal;
    font-size: rem(32px);

    @include media-breakpoint-up(md) {
        font-size: rem(36px);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(40px);
    }
}

h4,
.h4 {
    line-height: normal;
    font-size: rem(24px);

    @include media-breakpoint-up(md) {
        font-size: rem(28px);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(32px);
    }
}

h5,
.h5{
    font-size: rem(18px);
    line-height: rem(26px);
    font-weight: $font-weight-medium;

    @include media-breakpoint-up(md) {
        font-size: rem(20px);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(24px);
    }
}

h6,
.h6 {
    font-size: rem(16px);
    line-height: rem(26px);
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
        font-size: rem(18px);
    }
}

.body {
    font-size: rem(16px);
    line-height: rem(26px);
    font-weight: $font-weight-normal;


    @include media-breakpoint-up(md) {
        font-size: rem(18px);
    }
}

.body-large {
    font-size: rem(18px);
    line-height: rem(26px);
    font-weight: $font-weight-normal;


    @include media-breakpoint-up(md) {
        font-size: rem(20px);
        line-height: rem(30px);
    }
}

.body-extra-large {
    font-size: rem(20px);
    line-height: rem(30px);
    font-weight: $font-weight-normal;


    @include media-breakpoint-up(md) {
        font-size: rem(22px);
        line-height: 146%;
    }
}

.eyebrow {
    font-size: rem(20px);
    line-height: rem(26px);
    font-weight: $font-weight-medium;
}

a {
    text-decoration: none;
    display: inline-flex;

    &:hover {
        font-weight: $font-weight-semibold;
    }
}
